.item {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  line-height: 22px;
  padding: 20px;
  background-color: blue;



}

#profilePic {
  border-radius: 200px;
  max-width: 30px;
  margin-top  : 2px;
}

.feed {
  box-sizing: border-box;
  margin: 0px auto;
  max-width: 960px;
  min-width: 300px;
  padding: 0px 10px;
  position: relative;
}



